aside {
  position: fixed;
  background-color: hsl(0, 0%, 100%);
  z-index: 1;
  grid-area: aside-list;
  grid-template-areas:
    'aside-head'
    'aside-center'
    'aside-footer';
  display: grid;
  row-gap: 10px;
  grid-template-rows: 50px 1fr 130px;
  width: 250px;
  height: 100vh;
  padding: 10px;
  margin: 0;
  border-inline-end: .5px solid hsl(60, 4%, 74%);

  span {
    display: inline;
  }

  &.--hide {
    width: 44px;
    width: min-content;

    & span,
    p,
    button {
      display: none;
    }

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  & .aside__head {
    grid-area: aside-head;
    padding: 0;
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & ul {
    grid-area: aside-center;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
    text-align: start;
  }

  & li {
    width: 100%;
    padding: 4px;
    cursor: pointer;
    gap: 6px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #e5e2e2;
    }

    &.item--select {
      background-color: #eee;
    }

    &.get--pro {
      padding: 0;

      &>button {
        width: 100%;
        margin: 0;
        padding: 10px 0;
        background-color: rgb(19, 67, 118);
        color: #fff;
        font-weight: 600;
        border-radius: 10px;
        height: 100%;
      }
    }
  }

  & li.active {
    background-color: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 10%);
  }

  a {
    width: 100%;
    font-weight: 600;
    color: hsl(0, 0%, 31%);
    text-decoration: none !important;
    display: flex;
    align-items: center;
    gap: 10px;

  }

  & .aside__footer {
    grid-area: aside-footer;
  }

  & .rotate {
    transform: rotate(180deg);
  }
}