aside {
  background-color: beige;
  width: 14%;
  min-width: 175px;
  padding: 10px 44px;
  margin: 0;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
    text-align: start;
  }

  a {
    font-weight: 500;
    color: rgb(128, 127, 127);
  }
}