.calendar {
  width: 100vw;
  padding: 10px;
  user-select: none;
}

.calendar__area {
  width: 70vw;
  padding: 10px;
  user-select: none;
}

.calendar__task {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tbody {
  tr {
    height: 120px;
    overflow-y: hidden;
  }

  td {
    width: 100px;
    height: 100%;
    overflow: hidden;
    height: 100px;
    font-weight: 600;

    ul {
      height: 68px;
      display: flex;
      overflow-y: scroll;
      gap: 4px;
      flex-direction: column;
      color: rgb(225, 233, 252);
      scrollbar-width: none;
    }

    & .today {
      padding: 6px;
      border-radius: 50%;
      background-color: #a4d3e0;
    }
  }
}