.config__modal {
  position: absolute;
  right: 20px;
  top: 80px;

  &>svg {
    position: absolute;
    right: -2px;
    top: -18px;
  }

  &>.body__config {
    border-radius: 8px;
    overflow: hidden;
    background-color: #eee;
    background-color: hsl(0, 0%, 0%);
    align-items: center;
    font-weight: 500;

    ul {
      width: 150px;
    }

    & li {
      display: flex;
      gap: 4px;
      padding: 6px 12px;
      align-items: center;
      cursor: pointer;

      &>* {
        color: #d5d0d0;
      }

      &:hover {
        background-color: #757070;  
      }
    }
  }
}