.dashboard {
  height: 100%;
  width: 100%;
  display: block;
  place-content: inherit;
  padding: 20px 10px;

  &>.dashboard__header {
    padding: 0;

    & > span {
      display: flex;
      align-items: center;
    }

    .select{
      width: 140px;
    }
    
    & h4 {
      margin: 4px 0;
      font-size: 30px;
    }

    &>button {
      color: aliceblue;
      font-weight: 600;
      background-color: rgb(100, 100, 255);
    }
  }

  .dashboard__list {
    display: flex;
  }

  & .dashboard__item {
    width: 500px;
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;

    .dashboard__item--content {
      display: inline;
    }

    & * {
      margin: 0;
    }

    & header {
      padding: 0;
      text-align: start;
    }

    & h5 {
      font-size: 24px;
    }

    & textarea {
      resize: vertical;
      scrollbar-width: none;
      max-height: 200px;
      height: 40px;
      field-sizing: content;
      width: 100%;
      padding: 10px;
    }

    & footer {
      display: flex;
      flex-direction: column;
      gap: 6px;
      flex-wrap: wrap;

      input {
        display: none;
      }

      div {
        display: flex;
        gap: 10px;
        align-items: center;

        &>div {
          display: flex;
          gap: 2px;
        }

        i {
          &>svg:hover {
            opacity: .7;
          }

          &.liked {
            svg {
              fill: rgb(210, 0, 0);

              path {
                stroke: rgb(210, 0, 0);
              }
            }
          }
        }

      }
    }
  }

  .btn--show {
    margin-top: 10px;
    padding: 10px 0;
    background-color: whitesmoke;
    width: 100%;
    border: 1px solid black;
  }

  .comments {
    padding: 10px 0;
    background: #efefef;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    &>.comments__comment {
      width: 100%;
      display: flex;
      justify-content: start;
      gap: 10px;
      padding: 0 20px;
      align-items: center;
      position: relative;

      &>figure {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      &>.comment__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;

        &>* {
          text-align: start;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}