.documents {

  width: 100%;
  display: flex;
  place-content: start;

  & .documents__list {
    list-style: none;
    padding: 30px 40px;

    & li {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  & .documents__new {
    width: 180px;
    height: 240px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.38);
  }
}

.document {
  width: 100%;
  display: block;
  margin: 0 20px;

  & header {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 20px;

    &>input {
      font-weight: 700;
    }
  }

  section {
    position: relative;

    .table-container {
      width: 98%;
      height: 380px;
      overflow: auto; 
      border: 1px solid #ccc;
    }

    table {
      background-color: rgb(221, 220, 218);
      overflow-x: scroll;
      overflow-y: scroll;
      border-collapse: collapse;
      margin: 0;
    }

    th {
      border-right: .2px solid rgb(44, 42, 42);
      padding: 0;
      max-width: 100%;
      width: 140px;
      min-width: 140px;
      text-align: center;
      font-weight: 600;
      vertical-align: middle;

      &>input {
        font-weight: 600;
      }

      &:first-child {
        width: 30px;

        &>input {
          width: 100%;
        }
      }
    }

    & input {
      border-radius: 0;
      background-color: transparent;
      width: 100%;
      padding: 6px;
      margin: 0;
    }

    tr{
      height: auto;
    }

    td {
      padding: 2px;
      vertical-align: middle;
      border: .2px solid rgb(44, 42, 42);
      text-align: center;
    }

    .column--add {
      position: absolute;
      right: 0px;
    }

    .row--add{
      position: absolute;
      bottom: -30px;
    }

  }
}