.input__file {
  display: none;
}

.info__file {
  width: 100%;
  border-radius: 20px;
  padding: 6px;
  grid-column-start: span 2;
  background-color: #ffe;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &>button {
    border-radius: 50%;
    margin: 0;
    padding: 4px;
  }
}