.dark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderContainer{
  width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.loader__text{
  font-size: 18px;
  font-weight: 600;
}