p.text {
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.text.expanded {
  display: block;
  -webkit-line-clamp: unset;
}

button.see--more {
  cursor: pointer;
  color: rgb(4, 4, 34);
  font-weight: 600;
  border: none;
  padding: 2px;
  background-color: transparent;

  &:focus{
    box-shadow: none;
  }
}