#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: beige;
}

main{
  display: flex;
}

input {
  background-color: #ffe;
}

i {
  cursor: pointer;
  display: inline-block;
}

.auth__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  a {
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 20px;
    color: black;
    text-decoration: none;
  }
}

span {
  display: flex;
  gap: 10px;
}

main {
  width: 100vw;
}

.hero {
  width: 100vw;
  height: 100dvh;  
  background-image: url('/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  align-items: center;
}

section {
  display: grid;
  place-content: center;

  & form {
    padding: 20px;
    border-radius: 10px;
    background-color: #dbdbdb;
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

    & label {
      width: 100%;
      overflow: hidden;
      display: grid;
      text-align: start;
      gap: 20px;
      grid-template-columns: repeat(1, 120px 1fr);
    }
  }
}

.isError {
  color: rgb(242, 51, 51);
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  align-items: center;
  margin: 20px;

  & figure {
    cursor: pointer;
  }

  & .user__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  & h1 {
    margin: 0;
  }
}

.verification {
  display: grid;
  place-content: center;
  height: 100dvh;

  a {
    color: rgb(8, 8, 63);
    font-weight: 500;
  }

  h1 {
    color: rgb(16, 22, 102);
  }

  & .verification__modal {
    background-color: #dbdbdb;
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
  }
}

textarea {
  padding: 12px;
  font-size: 16px;
  resize: vertical;
  min-height: 160px;
  max-height: 200px;
  border-radius: 8px;
  border: 1px solid rgb(86, 86, 86);
  background-color: #FFE;
  field-sizing: content;
}